body {
    background-color: #f9f9f9;
}
.sheet {
    background: white;
    /*background: #ffffff;*/
    height: 950px;
    width: 1060px;
    margin: auto;
    box-shadow: -2px 0 10px #cccccc;
}
.header {
    background: white;
    height: 210px;
}
#name {
    padding: 44px;
    padding-bottom: 37px;
    font-size:  52px;
    font-family: Tahoma;
}
.header_menu {
    display: inline-flex;
    width: 966px;
    height: 40px;
    font-family: tahoma;
    font-size: 16px;
    background-color: #666666;
    margin-left: 44px;
}
.header_menu a {
    text-decoration: none;
    color: white;
}
.header_menu li {
    padding-left: 25px;
    padding-top: 10px;
    padding-right: 55px;
}
.header_menu li:hover {
    border: 1px solid white;
    background-color: #373737;
}
.left_side_bar {
  float: left;
  margin-left: 44px;
}
.left_side_bar li {
  border: 1px solid grey;
  height: 28px;
  width: 218px;
  padding-top: 10px;
  padding-left: 23px;

}
.left_side_bar a {
  text-decoration: none;
  font-family: tahoma;
  font-size: 14px;
  color: black;
}
.left_side_bar li:hover {
  background-color: #f9f9f9;
  padding-left: 35px;
  width: 206px;
}

.content img {
    margin-left: 47px;
    border: 1px solid grey;
    height: 398px;
    width: 672px;
}
.content p {
  margin-left: 355px;
  margin-top: 35px;
  margin-right: 75px;
  font-family: tahoma;
  font-size: 14px;
  line-height: 150%;
  color: black;
}
.end ul{
    display: inline-flex;
    width: 966px;
    height: 40px;
    font-family: tahoma;
    font-size: 13px;
    background-color: #e1e1e1;
    margin-top: 52px;
    margin-left: 44px;
}
.end a {
    text-decoration: none;
    color: black;
}
.end li {
    padding-left: 30px;
    padding-top: 14px;
    padding-right: 55px;
    width: 56px;
}
.end span {
    color: black;
    padding-top: 14px;
    padding-left: 225px;
}
.end a:hover {
    text-decoration: underline;;
}
